#form_container{
height:100vh;
display:flex;
align-items:center;
justify-content: center;
}

.card{
 width:70vh;
 color:black;
}

h1{
   display:flex;
   justify-content: center;
}
#required{
    color:red;
    font-weight:bold;
}